.textTitle {
  padding-right: 18px;
  position: fixed;
}

.textTitle {
  padding-right: 18px;
  position: fixed;
}

.textTitle li{
  list-style-type: none;
  padding-top: 40px;
}

.navContent {
  display:inline-block;
  vertical-align: top;
  font-size: 12px;
  width: 170px;
  position: fixed;
  left: 36px;
  top: 36px;
  z-index: 1;
  list-style-type: none;
  padding-right: 15px;
}

ul#filters {
  list-style: none;
  text-decoration: none;
}

.project-body {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}

.icon-menu {
  float: right;
  font-size: 2em;
}

#home {
  color: #2B2B2B;
  font-family: 'Brown-Light';
  font-size: 12px;
  width: 350px;
  margin-top: 200px;
  margin-bottom: 355px;
  margin-left: 150px;
}

#home p {
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  color: #8F8F8F;
}

#projects {
  margin-bottom: 100px;
}

#about {
  color: #8F8F8F;
  font-family: 'Brown-Light';
  font-size: 12px;
  width: 350px;
  margin-top: 200px;
  margin-bottom: 355px;
  margin-left: 150px;
}

@media only screen and (min-width: 990px) {
  .navContent ul {
    display: block !important;
  }

  .navContent li {
    float: left;
    border: none;
    padding-right: 10%;
    font-size: 13px;
  }

  .icon-menu {
    display: none;
  }
}*/
