html {
  background-color: #ecf0f1;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34495e;
}

.main-nav li {
  float: left;
}

.main-nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main-nav li a:hover {
  background-color: #A9A9A9;
}
